@charset "UTF-8";

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}

.left{
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid green;
    align-items: center;
    justify-content: space-between;
}

.notice{
    margin: 0 auto;
    border: 1px dotted red;
}
.notice h1{
    font-size: 150%;
    font-weight: bold;
}

.notice_content{
    display: block;
    align-items: center;
    border: 1px solid black;
}

.notice_title{
    display: flex;
    justify-content: space-around;
}