

.container{
    position: relative;
    width: 1190px;
    height: 3000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

#notice{
    width: 840px;
    height: 500px;
}

.aside_banner{
    width: 300px;
    height: 100%;
}

input[type="text"]{
    border: none;
    outline: none;
    font-size:13px;
    line-height: 35px;
    height: 35px;
}
.qnasearch{
    display: flex;
    flex :4;
    border: 2px black solid;
    border-radius: 5px;
    height: 40px;
    justify-content: flex-end;
}


.top{

    width: 840px;
    height: 50px;
    display: flex;
}


.adimg{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.ad{
    width: 100%;
    height: 300px;
}

ul{
    list-style: none;
}

.notice_line{
    color:black;

}