@charset "UTF-8";


/*------------------------------------------------*/

.wrap .main{
    width: 1200px;
    border:1px dotted #00DC64;;
    margin: 0 auto;
}

.m_top{
    width: 1200px;
    height: 450px;
    border: 1px dotted #00DC64;;
}

.m_top_week{
    vertical-align: middle;
}

.top_week_cate{
    display: flex;
    padding: 10px;

}

.top_week_img {
    width: 1200px;
    overflow: hidden;
    position: relative; /* 버튼을 절대 위치로 배치할 수 있게 부모 요소를 설정 */
}

.image_container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* 슬라이딩 효과 */
}

.image_wrapper {
    display: flex;
    justify-content: space-between;
}
.image_wrapper .best_item a img{
    width: 230px;
    padding: 5px;
}

.best_item{
    transition: transform 0.4s ease;
}
.best_item:hover{
    transform: scale(1.03);
}

.best_item a{
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 글자 색상 */
}
.best_item a:hover{
    color: #00DC64;
}
.b_author a:hover img{
    color: #00DC64;
}

a.prev, a.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid #00DC64;
    background: #00DC64;
    cursor: pointer;
    transition: opacity 0.3s ease;
    line-height: 10px;
    opacity: 0.6; /* 호버 시 효과 */
}

a.prev img, a.next img {
    width: 30px;
    height: 40px;
}

a.prev{
    left: 0; /* 오른쪽 끝에 위치 */
}
a.next{
    right: 0;
}

a.prev:hover,
a.next:hover {
    opacity: 0.3; /* 호버 시 효과 */
}

.m_mid{
    display: flex;
    padding: 10px;
}

.m_mid_left{
    width : 795px;
    border: 1px dotted #00DC64;;
    padding: 10px;
}

.mid_genre{
    height: 320px;
    border: 1px solid #00DC64;;
}

.genre{
    border: 1px dotted #00DC64;;
}

.mid_genre_cate{
    display: flex;
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
}

.genre_img{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    border: 1px dotted #00DC64;;
}

.genre_item{
    display: block;
    align-items: center;
    transition: transform 0.3s ease;
    border: 1px dotted #00DC64;;
}
.genre_item:hover{
    transform: scale(1.05);
}

.genre_item a{
    text-decoration: none;
    color: black;
}
.genre_item a:hover{
    color: #00DC64;
}

.mid_new {
    height: 320px;
    display: block;
    border: 1px dotted #00DC64;;

}

.new {
    display: block;
    width: 795px;
    border: 1px dotted #00DC64;;

}

.new label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

.new_img {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    border: 1px solid #00DC64;;

}

.new_item {
    display: block;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 5px;
    transition: transform 0.3s ease;
}

.new_item:hover {
    transform: scale(1.05);
}

.new_item img {
    width: 100%;
    max-height: 150px;
}

.new_item a {
    display: block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

.new_item a:hover {
    color: #00DC64;
}


.m_mid_right{
    width: 395px;
    border: 1px dotted #00DC64;;
    padding: 10px;
}

#ad{
   justify-content: center;
    align-items: center;
}

.mid_right_list{
    border: 1px dotted #00DC64;;
    padding: 15px;

}


.list_title{
    display: flex;
    justify-content: space-between;
}

.list_title div a:hover{
    color: #00DC64;
}

.gender{

}

ul{
    display: block;
    padding: 10px;
    border: 1px solid #00DC64;;
}


li{
    list-style-type: none;
    display: flex;
    padding: 10px;
    border: 1px dotted #00DC64;;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}
li:hover{
    transform: scale(1.05);
}

.title{
    padding: 5px;
    border: 1px solid #00DC64;;
    width: 150px;
}
.title a:hover{
    color: #00DC64;
}

li div {
    display: flex;
    justify-content: space-between;
}

li >div >label{
    font-weight: bold;
    font-size: 200%;
    border: 1px solid #00DC64;;
    text-align: center;
    line-height: 60px;
}

.notice{
    width: 300px;
    padding: 10px;
}

label{
    font-family: Verdana;
    font-size: 120%;
    font-weight: bold;
}





/*--------------------------------------------------*/


