

.container{
    width: 1190px;
    border:2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.left{
    border: 1px solid #757575;
    width: 840px;
}

#content{
    width: 840px;
    justify-content: center;
}

.aside_banner{
    width: 300px;
    height: 100%;
}

.title{
    position: relative;
    display: flex;
}

.title_image{
    width: 330px;
    height: 300px;

}

.title_right{
    width: 510px;
    height: 300px;
}

.menu{
    width: 300px;
    height: 200px;
    background: bisque;
}

.list{


    border: 2px solid green;
}

.wbimg{
    width: 100%;
    height: 100%;


}

#tag{
    overflow: hidden;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    background: #f9f9f9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    color: black;

}

a{
    text-decoration: none;
}

.ad{
    width: 100%;
    height: 300px;
}

ul{
    list-style: none;
}

.notice_line{
    color:black;

}

.list{

}

.replyform{
    position: relative;
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    height: 140px;
}

#reply_input{
    position: absolute;
    left :9px;
    width: 800px;
    border:none;
    resize: none;
    padding: 10px;
}

input[type=submit]{
    border: 1px solid #757575;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    border-radius: 5px;
    height: 30px;
}

.replylist_row{
    display: flex;
    justify-content: space-between;
}

.replylist{
    width: 840px;
    height: 100px;
    border: 1px solid #757575;
}


