<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>
    /* 기본 설정 */
        .body{ width: 1496px;
        margin: 0px;}

        div {
            border: 1px solid black;
        }
        
    </style>
</head>
<body>
   
<div clsaa="container">
    <div class="content-wrap" style="width: 1190px; display: flex">
        <div class="content">
            <div class="search-container">
                <h1>
                <span style="color:#00dc64;">'${keyword}'</span> 에 대한 검색결과입니다.
                </h1>
            </div>
            <div class="search-content">
                    검색한 만화
            </div>
        </div>

        <div class="aside-wrap" style="width: 300px">
            <div>인기웹툰</div>
            <div>실시간 웹툰</div>
        </div>
    </div>
</div>

</body>
</html>
                

